<div  nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
  <div class="columnaPlan" nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 24 }" [nzLg]="{ span: 24 }" [nzXl]="{ span: 14 }" [nzXXl]="{ span: 12 }">
      <table class="table1">
        <thead>
          <tr >
            <th title="Seleccionar todo" (click)="marcarTodo()">COMPLETO</th>
            <th title="Seleccionar columna"  (mousedown)="mauseDownCelda($event)" (mouseup)="mouseUpCelda($event)" id="10103">Lunes</th>
            <th title="Seleccionar columna"  (mousedown)="mauseDownCelda($event)" (mouseup)="mouseUpCelda($event)" id="10104">Martes</th>
            <th title="Seleccionar columna"  (mousedown)="mauseDownCelda($event)" (mouseup)="mouseUpCelda($event)" id="10105">Miercoles</th>
            <th title="Seleccionar columna"  (mousedown)="mauseDownCelda($event)" (mouseup)="mouseUpCelda($event)" id="10106">Jueves</th>
            <th title="Seleccionar columna"  (mousedown)="mauseDownCelda($event)" (mouseup)="mouseUpCelda($event)" id="10107">Viernes</th>
            <th title="Seleccionar columna"  (mousedown)="mauseDownCelda($event)" (mouseup)="mouseUpCelda($event)" id="10108">Sábado</th>
            <th title="Seleccionar columna"  (mousedown)="mauseDownCelda($event)" (mouseup)="mouseUpCelda($event)" id="10109">Domingo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fila of arrayConfig">
            <td
              *ngFor="let celda of fila.Cells"
              [id]="'E-'+celda.ParameterID+'-'+fila.DisplayIndexValue" 
              [class]="colorCelda(celda.Value)"
              (mousedown)="mauseDownCelda($event)" (mouseup)="mouseUpCelda($event)"
              [title] = "titulo(celda.ParameterID)"
              >
              {{celda.DisplayValue}}
          </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="columnaPlan" nz-col [nzXs]="{ span: 24 }" [nzMd]="{ span: 24 }" [nzLg]="{ span: 24 }" [nzXl]="{ span: 10 }" [nzXXl]="{ span: 12 }">
      <table id="tablaConfig" nzSize="small" class="table2">
        <thead>
          <tr >
            <th>CONFIGURACION</th>
            <th nzAlign="center">GPRS</th>
            <th nzAlign="center">UMTS</th>
            <th nzAlign="center">AUTO</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="tipoConfig" >Módem encendido</th>
            <td id="OnG" class="greenyellow" (click)="seleccionarConfiguracion($event, '02')">OnG
                <!-- <button nz-button nzType="default" nzSize="small" (click)="selectOption('OnG')">Sele</button> -->
            </td>
            <td id="OnU" class="greenyellow" (click)="seleccionarConfiguracion($event, '01')">OnU
                <!-- <button nz-button nzType="default" nzSize="small" (click)="selectOption('OnU')">Sele</button> -->
            </td>
            <td id="OnA" class="greenyellow"  (click)="seleccionarConfiguracion($event, '00')">OnA
                <!-- <button nz-button nzType="default" nzSize="small" (click)="selectOption('OnA')">Sele</button> -->
            </td>
          </tr>
          <tr>
            <th class="tipoConfig" >Anti-barrido</th>
            <td id="VoxOffG" class="limegreen" (click)="seleccionarConfiguracion($event, '08')">VoxOffG
                <!-- <button nz-button nzType="default" nzSize="small" (click)="selectOption('VoxOffG')">Sele</button> -->
            </td>
            <td id="VoxOffU" class="limegreen" (click)="seleccionarConfiguracion($event, '07')">VoxOffU
                <!-- <button nz-button nzType="default" nzSize="small" (click)="selectOption('VoxOffU')">Sele</button> -->
            </td>
            <td id="VoxOffA" class="limegreen" (click)="seleccionarConfiguracion($event, '06')">VoxOffA
                <!-- <button nz-button nzType="default" nzSize="small" (click)="selectOption('VoxOffA')">Sele</button> -->
            </td>
          </tr>
          <tr>
            <th class="tipoConfig" >Endendido del módem optimizado</th>
            <td id="DataOnG" class="mediumblue" (click)="seleccionarConfiguracion($event, '15')">DataOnG
                <!-- <button nz-button nzType="default" nzSize="small" (click)="selectOption('DataOnG')">Sele</button> -->
            </td>
            <td id="DataOnU" class="mediumblue" (click)="seleccionarConfiguracion($event, '0F')">DataOnU
                <!-- <button nz-button nzType="default" nzSize="small" (click)="selectOption('DataOnU')">Sele</button> -->
            </td>
            <td id="DataOnA" class="mediumblue" (click)="seleccionarConfiguracion($event, '0B')">DataOnA
                <!-- <button nz-button nzType="default" nzSize="small" (click)="selectOption('DataOnA')">Sele</button> -->
            </td>
          </tr>
          <tr>
            <th class="tipoConfig" >Módem encendido con conexión de datos desactivada</th>
            <td id="NoConG" class="violet" (click)="seleccionarConfiguracion($event, '17')">NoConG
                <!-- <button nz-button nzType="default" nzSize="small" (click)="selectOption('NoConG')">Sele</button> -->
            </td>
            <td id="NoConU" class="violet" (click)="seleccionarConfiguracion($event, '12')">NoConU
                <!-- <button nz-button nzType="default" nzSize="small" (click)="selectOption('NoConU')">Sele</button> -->
            </td>
            <td id="NoConA" class="violet" (click)="seleccionarConfiguracion($event, '0D')">NoConA
                <!-- <button nz-button nzType="default" nzSize="small" (click)="selectOption('NoConA')">Sele</button> -->
            </td>
          </tr>
          <tr>
            <th class="tipoConfig" >Conexión de red optimizada</th>
            <td id="DataConG" class="darkviolet" (click)="seleccionarConfiguracion($event, '18')">DataConG
                <!-- <button nz-button nzType="default" nzSize="small" (click)="selectOption('DataConG')">Sele</button> -->
            </td>
            <td id="DataConU" class="darkviolet" (click)="seleccionarConfiguracion($event, '13')">DataConU
                <!-- <button nz-button nzType="default" nzSize="small" (click)="selectOption('DataConU')">Sele</button> -->
            </td>
            <td id="DataConA" class="darkviolet" (click)="seleccionarConfiguracion($event, '0E')">DataConA
                <!-- <button nz-button nzType="default" nzSize="small" (click)="selectOption('DataConA')">Sele</button> -->
            </td>
          </tr>
          <tr>
            <th class="tipoConfig" >Módem apagado</th>
            <td id="ModemOff" class="darkorange" nzAlign="center" colspan="3" (click)="seleccionarConfiguracion($event, '09')">
                Módem Off
                <!-- <button nz-button nzType="default" nzSize="small" (click)="selectOption('ModemOff')">Sele</button> -->
            </td>                    
          </tr>
          <tr>
            <th class="tipoConfig" >Módulo de transmisión y grabador de apagados</th>
            <td id="DispositivoOff" class="red" nzAlign="center" colspan="3" (click)="seleccionarConfiguracion($event, '0A')">Dispositivo Off
                <!-- <button nz-button nzType="default" nzSize="small" (click)="selectOption('DispositivoOff')">Sele</button> -->
            </td>
          </tr>
        </tbody>
      </table>
      <div style="margin: 15px;">
          <div nz-row>
            <div nz-col nzSpan="24">
              <button 
                  nz-button 
                  nzType="primary"
                  [disabled]="enableSendConfig"
                  (click)="aplicarConfiguracionPlanificador()"
                  >Aplicar Configuración Planificador
              </button>
            </div>
          </div>
          <div nz-row style="margin-top: 15px;">
            <div class="textoEstado" nz-col nzSpan="20" >
                Estado Envío Configuración Planificador
            </div>
            <div class="textoEstado" nz-col nzSpan="4">
              {{estadoPeticionNuevoPlanificador}}
            </div>
          </div>
      </div>
    </div>
</div>

