<nz-card *ngIf="showSearchForm" nzTitle="Búsqueda de Baliza(s)" style="margin-bottom: 20px;"
  [nzExtra]="extraTemplateSearch" nzSize="default">
  <div nz-row [nzGutter]="['8', '8']">
    <div nz-col>
      <input nz-input placeHolder="Clave" [(ngModel)]="searchCriteria.clave" />
    </div>
    <div nz-col>
      <input nz-input placeHolder="Marca" [(ngModel)]="searchCriteria.marca" />
    </div>
    <div nz-col>
      <input nz-input placeHolder="Modelo" [(ngModel)]="searchCriteria.modelo" />
    </div>
    <div nz-col>
      <input nz-input placeHolder="Serie" [(ngModel)]="setCriteria.numSerie" (ngModelChange)="checkCriteria($event)"/>
    </div>
    <div nz-col>
      <nz-select [(ngModel)]="searchCriteria.idEstadoBaliza" nzPlaceHolder="Estado" style="width: 180px">
        <nz-option *ngFor="let estado of estadoBalizaList" [nzValue]="estado.id" [nzLabel]="estado.descripcion!">
        </nz-option>
      </nz-select>
    </div>
    <div nz-col>
      <nz-range-picker [(ngModel)]="fi_ff" [nzFormat]="dateFormat" (ngModelChange)="onDateChange($event)">
      </nz-range-picker>
    </div>
    <!-- <p style="margin-top: 10px; margin-left: 5px;">
      <label nz-checkbox [(ngModel)]="isCheckedObject">
        {{ isCheckedObject ? 'Hablitar objetivos' : 'Deshablitar objetivos' }}
      </label>
    </p> -->
  </div>
</nz-card>

<nz-card nzTitle="Stock de Balizas" [nzExtra]="extraTemplate" nzSize="default">
  <nz-table #headerTable nzShowSizeChanger [nzData]="listOfBalizaStock" [nzFrontPagination]="false"
    [nzLoading]="loading" [nzTotal]="total" [nzScroll]="{ x: '600px' }" [nzPageSize]="pageSize"
    [nzPageIndex]="pageIndex" (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
      <tr>
        <th id="userSpand" nzWidth="60px"></th>
        <th id="balizaStockClave" nzColumnKey="clave" nzWidth="100px" [nzSortFn]="true">Clave</th>
        <th id="balizaStockMarca" nzColumnKey="marca" [nzSortFn]="true">Marca</th>
        <th id="balizaStockModelo" nzColumnKey="modelo" [nzSortFn]="true">Modelo</th>
        <th id="balizaStockNumSerie" nzColumnKey="numSerie" [nzSortFn]="true">Número de Serie</th>
        <th id="balizaStockCompania" nzColumnKey="compania" [nzSortFn]="true">Compañía</th>
        <th id="balizaStockFechaAlta" nzColumnKey="fechaAlta" [nzSortFn]="true">Fecha de Alta</th>
        <th id="balizaStockEstado" nzColumnKey="estados" [nzSortFn]="true">Estado</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let baliza of listOfBalizaStock">
        <tr>
          <td [nzChecked]="expandSet.has(baliza.id)" (nzCheckedChange)="onExpandChangeBaliza(baliza, $event)"
            [nzShowExpand]="false" [nzExpand]="isSingle(baliza.id)"
            (nzExpandChange)="onExpandChangeBaliza(baliza, $event)"></td>
          <td>{{ baliza.clave }}</td>
          <td>{{ baliza.marca }}</td>
          <td>{{ baliza.modelo }}</td>
          <td>{{ baliza.numSerie }}</td>
          <td>{{ baliza.compania }}</td>
          <td>{{ baliza.fechaAlta | date: 'dd/MM/yyyy' }}</td>
          <td>{{ baliza.estados!.descripcion }}</td>
        </tr>
        <tr [nzExpand]="isSingle(baliza.id)">
          <nz-descriptions [nzColumn]="{ xxl: 3, xl: 3, lg: 3, md: 3, sm: 2, xs: 1 }" nzTitle="Información Adicional">
            <nz-descriptions-item nzTitle="ID Dataminer">{{baliza.idDataminer ? baliza.idDataminer : ''}}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="ID Element">{{baliza.idElement ? baliza.idElement : ''}}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="ICC Tarjeta">{{baliza.iccTarjeta ? baliza.iccTarjeta : ''}}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="IMEI">{{baliza.imei ? baliza.imei : ''}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Pin 1">{{baliza.pin1 ? baliza.pin1 : ''}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Pin 2">{{baliza.pin2 ? baliza.pin2 : ''}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Puk">{{baliza.puk ? baliza.puk : ''}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Tipo de Baliza">{{ baliza.tipoBaliza ? baliza.tipoBaliza.descripcion : ''}}
            </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Tipo de Contrato">{{baliza.tipoContrato ? baliza.tipoContrato.descripcion :
              ''}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Tipo de Coordenadas">{{baliza.tipoCoordenada}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Puerto">{{baliza.puerto ? baliza.puerto : ''}}</nz-descriptions-item>
          </nz-descriptions>
          <nz-descriptions>
            <nz-descriptions-item nzTitle="Notas">{{baliza.notas ? baliza.notas : ''}}</nz-descriptions-item>
          </nz-descriptions>
        </tr>
      </ng-container>
    </tbody>
  </nz-table>
</nz-card>

<ng-template #extraTemplate>
  <div nz-row [nzGutter]="24" nzJustify="end">
    <div nz-col class="gutter-row" [nzSpan]="3">
      <button nz-button nzType="text" nzSize="large" (click)="showModalBaliza(false)" nz-tooltip
        nzTooltipTitle="Crear Baliza" [disabled]="isDisabled()">
        <em nz-icon nzType="plus" nzTheme="outline" [class]="setActionIconClass()"></em>
      </button>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <button nz-button nzType="text" nzSize="large" (click)="showModalBaliza(true)" nz-tooltip
        nzTooltipTitle="Editar Baliza" [disabled]="isDisabled(disableBalizaActions)">
        <em nz-icon nzType="edit" nzTheme="outline" [class]="setActionIconClass(disableBalizaActions)"></em>
      </button>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <button nz-button nzType="text" nzSize="large" (click)="deleteBaliza()" nz-tooltip
        nzTooltipTitle="Eliminar Baliza" [disabled]="isDisabled(disableBalizaActions)">
        <em nz-icon nzType="delete" nzTheme="outline" [class]="setActionIconClass(disableBalizaActions)"></em>
      </button>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <button nz-button nzType="text" nzSize="large" (click)="assignBaliza()" nz-tooltip
        nzTooltipTitle="Asignar a Unidad" [disabled]="isDisabled(disableBalizaActions)">
        <em nz-icon nzType="container" nzTheme="outline" [class]="setActionIconClass(disableBalizaActions)"></em>
      </button>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <button nz-button nzType="text" nzSize="large" nz-tooltip (click)="showModalUpload()"
        nzTooltipTitle="Importar desde un Fichero" [disabled]="isDisabled()">
        <em nz-icon nzType="cloud-upload" nzTheme="outline" [class]="setActionIconClass()"></em>
      </button>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="3">
      <button nz-button nzType="text" nzSize="large" nz-tooltip (click)="downloadData()"
        nzTooltipTitle="Exportar a Archivo" [disabled]="isDisabled()">
        <em nz-icon nzType="cloud-download" nzTheme="outline" [class]="setActionIconClass()"></em>
      </button>
    </div>
    <div *ngIf="!showSearchForm" nz-col class="gutter-row" [nzSpan]="3">
      <button nz-button nzType="text" nzSize="large" (click)="showHideSearchForm()" nz-tooltip
        nzTooltipTitle="Filtros de búsqueda">
        <em nz-icon nzType="filter" nzTheme="outline" [class]="'icon-class'"></em>
      </button>
    </div>
  </div>
</ng-template>


<ng-template #extraTemplateSearch>
  <div nz-row [nzGutter]="24" nzJustify="end">
    <div nz-col class="gutter-row" [nzSpan]="5">
      <button nz-button nzType="text" nzSize="large" (click)="onSearch()" [disabled]="isNullBusqueda()" nz-tooltip
        nzTooltipTitle="Buscar">
        <em nz-icon nzType="search" nzTheme="outline" [class]="setStyleClass()"></em>
      </button>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="5">
      <button nz-button nzType="text" nzSize="large" (click)="resetForm()" [disabled]="isNullBusqueda()" nz-tooltip
        nzTooltipTitle="Limpiar">
        <em nz-icon nzType="clear" nzTheme="outline" [class]="setStyleClass()"></em>
      </button>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="5">
      <button nz-button nzType="text" nzSize="large" (click)="closeSearchForm()" nz-tooltip nzTooltipTitle="Cerrar">
        <em nz-icon nzType="close" nzTheme="outline" [class]="'icon-class'"></em>
      </button>
    </div>
  </div>
</ng-template>
