<nz-card nzSize="default" [nzTitle]="extraTemplateSearch">
  <ng-container *ngIf="nodes && nodes.length > 0; else noDataTemplate">
    <nz-tree
      [nzData]="nodes"
      [nzTreeTemplate]="nzTreeTemplate"
      [nzVirtualHeight]="'400px'"
      [nzBlockNode]="true"
    >
    </nz-tree>
  </ng-container>
  <ng-template #noDataTemplate>
    <div style="text-align: center; padding: 20px;">
      No existen datos para mostrar
    </div>
  </ng-template>
</nz-card>

<ng-template #nzTreeTemplate let-node let-origin="origin">
  <span class="custom-node">
    <span *ngIf="!node.isLeaf">
      <i nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'" (click)="openFolder(node)"></i>
      <span class="folder-name">{{ node.title }}</span>
    </span>
    <span *ngIf="node.isLeaf" class="file-node">
      <label nz-checkbox [(ngModel)]="node.checked" (ngModelChange)="onFileSelect(node)">
        <i nz-icon nzType="file-excel" nzTheme="twotone" [nzTwotoneColor]="'#52c41a'"></i>
        <span class="file-name">{{ node.title }}</span>
      </label>
      <button 
        nz-button 
        nzType="link" 
        nzShape="circle" 
        nz-tooltip 
        nzTooltipTitle="Descargar"
        (click)="downloadFile(node.key, node.title)"
      >
        <i nz-icon nzType="download"></i>
      </button>
    </span>
  </span>
</ng-template>

<!-- Rest of the component template remains the same -->