<nz-card  nzSize="default" [nzTitle]="extraTemplateSearch">
  <ng-container *ngIf="nodes && nodes.length > 0; else noDataTemplate">
    <nz-tree
        [nzData]="nodes"
        [nzTreeTemplate]="nzTreeTemplate"
        [nzVirtualHeight]="'400px'"
        [nzBlockNode]="true"
      >
    </nz-tree>
  </ng-container>
  <ng-template #noDataTemplate>
    <div style="text-align: center; padding: 20px;">
      No existen datos para mostrar
    </div>
  </ng-template>
</nz-card>
    <ng-template #nzTreeTemplate let-node let-origin="origin">
      <span class="custom-node">
        <span *ngIf="!node.isLeaf">
          <i nz-icon [nzType]="origin.isExpanded ? 'folder-open' : 'folder'" (click)="openFolder(origin)"></i>
          <span class="folder-name">{{ node.title }}</span>
        </span>
        <span *ngIf="node.isLeaf" class="file-node">
          <label nz-checkbox [(ngModel)]="node.checked" (ngModelChange)="onFileSelect(node)">
            <i nz-icon nzType="file-excel" nzTheme="twotone" [nzTwotoneColor]="'#52c41a'"></i>
            <span class="file-name">{{ node.title }}</span>
          </label>
          <button 
            nz-button 
            nzType="link" 
            nzShape="circle" 
            nz-tooltip 
            nzTooltipTitle="Descargar"
            (click)="downloadFile(node.key, node.title)"
          >
            <i nz-icon nzType="download"></i>
          </button>
        </span>
      </span>
    </ng-template>

<div nz-row nzJustify="center">
  <nz-pagination
    [nzPageIndex]="pageIndex"
    [nzTotal]="totalItems"
    [nzPageSize]="pageSize"
    (nzPageIndexChange)="pageIndexChange($event)"
  ></nz-pagination>
</div>

<div class="steps-action" *nzModalFooter>
  <button nz-button nzType="default" (click)="cancelForm()">
    <span>Cancelar</span>
  </button>
  <button nz-button nzType="primary" [disabled]="!hasSelectedFiles()" (click)="resetSelected()">
    <span>Limpiar</span>
  </button>
  <button nz-button nzType="primary" [disabled]="!hasSelectedFiles()" (click)="downloadSelectedFiles()">
    <span>Descargar</span>
  </button>
  <button nz-button nzType="primary" [disabled]="isBuildingPackage" (click)="toBuildingPackage()">
    <span>Generar paquete de evidencia</span>
  </button>
</div>

<ng-template #extraTemplateSearch>
  <form [formGroup]="searchCSVForm">
    <nz-row nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
      <div nz-col class="gutter-row" [nzSpan]="10">
        <div class="inner-box">
          <nz-form-item>
            <nz-form-control>
              <input nz-input placeHolder="Nombre" formControlName="descripcion" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="2">
        <div class="inner-box">
          <button nz-button nzType="text" nzSize="large" (click)="onSearch()" [disabled]="checkForm()" nz-tooltip
            nzTooltipTitle="Buscar">
            <em nz-icon nzType="search" nzTheme="outline" [class]="setStyleClassBusqueda()"></em>
          </button>
        </div>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="2">
        <div class="inner-box">
          <button nz-button nzType="text" nzSize="large" (click)="resetForm()" [disabled]="checkForm()"
            nz-tooltip nzTooltipTitle="Limpiar">
            <em nz-icon nzType="clear" nzTheme="outline" [class]="setStyleClassBusqueda()"></em>
          </button>
        </div>
      </div>
    </nz-row>
  </form>
</ng-template>