<form nz-form [formGroup]="formModalAsignarBaiza">
    <nz-form-item>
      <nz-form-label nzNoColon="true" [nzSpan]="7" nzRequired nzFor="estados">Estados</nz-form-label>
      <nz-form-control [nzSpan]="12" [nzErrorTip]="empleoErrorTpl">
        <nz-select nzShowSearch formControlName="items" nzPlaceHolder="Seleccionar estado">
          <nz-option *ngFor=" let item of listEstados" [nzValue]="item.id" [nzLabel]="item.descripcion"></nz-option>
        </nz-select>
        <ng-template #empleoErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">Seleccione el estado</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <div *nzModalFooter>
            <button nz-button nzType="default" (click)="closeForm()">Cancelar</button>
            <button nz-button nzType="primary" [disabled]="checkForm()" (click)="submitForm()">
                <i nz-icon [nzType]="button.icon" nzTheme="outline"></i>
                <span>{{ button.label }}</span>
            </button>
            </div>
        </nz-form-control>
    </nz-form-item>
  </form>
