<form nz-form [formGroup]="formModalJuzgado">

  <nz-form-item>
    <nz-form-label nzNoColon="true" [nzSpan]="7" nzRequired nzFor="juzgado">Juzgado</nz-form-label>
    <nz-form-control [nzSpan]="12" nzErrorTip="Introduzca el nombre del juzgado">
      <input type="text" nz-input formControlName="juzgado" placeholder="Nombre de Juzgado" />
      <ng-template #userErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Introduzca el nombre del juzgado</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <div *nzModalFooter>
        <button nz-button nzType="default" (click)="closeForm()">Cancelar</button>
        <button nz-button nzType="primary" [disabled]="checkForm()" (click)="submitForm()">
          <i nz-icon [nzType]="button.icon" nzTheme="outline"></i>
          <span>{{ button.label }}</span>
        </button>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>
