<nz-card *ngIf="showSearchForm" nzTitle="Búsqueda de Baliza(s)" style="margin-bottom: 20px;"
  [nzExtra]="extraTemplateSearch" nzSize="default">
  <div nz-row [nzGutter]="['8', '8']">
    <div nz-col>
      <input nz-input placeHolder="Estado Baliza" [(ngModel)]="searchCriteria.idEstadoBaliza" />
    </div>
  </div>
</nz-card>

<nz-card nzTitle="Balizas" [nzExtra]="extraTemplate" nzSize="default">
  <nz-table #headerTable nzShowSizeChanger [nzData]="listOffHistoric" [nzFrontPagination]="false" [nzLoading]="loading"
    [nzTotal]="total" [nzScroll]="{ x: '240px'}" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex"
    [nzNoResult]="noResult" (nzQueryParams)="onQueryParamsChangeObjetivosHistorico($event)">
    <thead>
      <tr>
        <th id="historicoObjeivoBaliza" nzColumnKey="baliza" nzWidth="100px" [nzSortFn]="true">Clave</th>
        <th id="historicoObjeivoFecha" nzColumnKey="fecha" [nzSortFn]="true">Marca</th>
        <th id="historicoObjeivoAccion" nzColumnKey="accion" [nzSortFn]="true">Fecha de Alta</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let baliza of listOffHistoric">
        <tr>
            <td>{{ baliza.estados!.descripcion }}</td>
            <td>{{ baliza.fechaAlta! | date: 'dd/MM/yyyy' }}</td>
            <td>{{ baliza.estados!.descripcion }}</td>
          <!-- <td>
           <button nz-button nzType="text" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu"
             nzPlacement="bottomRight">
             <em nz-icon nzType="more"></em>
           </button>
           <nz-dropdown-menu #menu="nzDropdownMenu">
             <ul nz-menu>
               <li nz-menu-item (click)="showModal(operacion)">
                 <em nz-icon nzType="edit" nzTheme="outline" style="margin-right: 10px;"></em>
                 <span nz-typography>Editar</span>
               </li>
               <li nz-menu-item (click)="deleteOperacion(operacion)">
                 <em nz-icon nzType="delete" nzTheme="outline" style="margin-right: 10px;"></em>
                 <span nz-typography>Eliminar</span>
               </li>
               <li nz-menu-item *ngIf="operacion.estados!.id===4; else elseBlock" (click)="changeUserStatus(operacion)">
                 <em nz-icon nzType="check" nzTheme="outline" style="margin-right: 10px;"></em>
                 <span nz-typography>Activar</span>
               </li>
               <ng-template #elseBlock>
                 <li nz-menu-item (click)="changeUserStatus(operacion)">
                   <em nz-icon nzType="close" nzTheme="outline" style="margin-right: 10px;"></em>
                   <span nz-typography>Desactivar</span>
                 </li>
               </ng-template>
             </ul>
           </nz-dropdown-menu>
         </td> -->
        </tr>
        <!-- <tr [nzExpand]="expandSet.has(operacion.id)">
         <div nz-row>
           <div nz-col [nzSpan]="24">
             <span><strong>Observaciones: </strong></span>
             <span>{{ operacion.observaciones }}</span>
           </div>
         </div>
       </tr> -->
      </ng-container>
    </tbody>
  </nz-table>
</nz-card>

<ng-template #extraTemplate>
  <div nz-row [nzGutter]="24">
    <!-- <div nz-col class="gutter-row" [nzSpan]="6">
       <button nz-button nzType="text" nzSize="small" (click)="showModal()" nz-tooltip
         nzTooltipTitle="Crear operación">
         <em nz-icon nzType="plus" nzTheme="outline"></em>
       </button>
     </div>
     <div nz-col class="gutter-row" [nzSpan]="6">
       <button nz-button nzType="text" nzSize="small" (click)="showModal(true)" nz-tooltip
         nzTooltipTitle="Editar operación" [disabled]="selectedOperacion == null">
         <em nz-icon nzType="edit" nzTheme="outline"></em>
       </button>
     </div>
     <div nz-col class="gutter-row" [nzSpan]="6">
       <button nz-button nzType="text" nzSize="small" (click)="deleteOperacion()" nz-tooltip
         nzTooltipTitle="Eliminar unidad" [disabled]="selectedOperacion == null">
         <em nz-icon nzType="delete" nzTheme="outline"></em>
       </button>
     </div> -->
    <div *ngIf="!showSearchForm" nz-col class="gutter-row" [nzSpan]="6">
      <button nz-button nzType="text" nzSize="large" (click)="showHideSearchForm()" nz-tooltip
        nzTooltipTitle="Filtros de búsqueda">
        <em nz-icon nzType="filter" nzTheme="outline" [class]="'icon-class'"></em>
      </button>
    </div>
  </div>
</ng-template>

<ng-template #extraTemplateSearch>
  <div nz-row [nzGutter]="24" nzJustify="end">
    <div nz-col class="gutter-row" [nzSpan]="5">
      <button nz-button nzType="text" nzSize="large" (click)="onSearchObjetivosHistorico()" [disabled]="isNullBusqueda()"
        nz-tooltip nzTooltipTitle="Buscar">
        <em nz-icon nzType="search" nzTheme="outline" [class]="!isNullBusqueda()?'icon-class':'icon-disabled'"></em>
      </button>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="5">
      <button nz-button nzType="text" nzSize="large" (click)="resetForm()" [disabled]="isNullBusqueda()" nz-tooltip
        nzTooltipTitle="Limpiar">
        <em nz-icon nzType="clear" nzTheme="outline" [class]="!isNullBusqueda()?'icon-class':'icon-disabled'"></em>
      </button>
    </div>
    <div nz-col class="gutter-row" [nzSpan]="5">
      <button nz-button nzType="text" nzSize="large" (click)="closeSearchForm()" nz-tooltip nzTooltipTitle="Cerrar">
        <em nz-icon nzType="close" nzTheme="outline" [class]="'icon-class'"></em>
      </button>
    </div>
  </div>
</ng-template>

<ng-template #noResult>
  <nz-empty [nzNotFoundContent]="contentTpl"></nz-empty>
  <ng-template #contentTpl>
    <h5 nz-typography nzType="secondary">No existen datos</h5>
  </ng-template>
</ng-template>
