<div>
  <div nz-row [nzGutter]="24">
    <div class="border" nz-col [nzXs]="24" [nzMd]="24" [nzLg]="12" [nzXXl]="8">
      <app-nomenclador dataEntrante="Juzgado" dataTitle="juzgado" dataTooltip="juzgado"></app-nomenclador>
    </div>
    <div class="border" nz-col [nzXs]="24" [nzMd]="24" [nzLg]="12" [nzXXl]="8">
      <app-nomenclador dataEntrante="Empleo" dataTitle="empleo" dataTooltip="empleo"></app-nomenclador>
    </div>
    <div class="border" nz-col [nzXs]="24" [nzMd]="24" [nzLg]="12" [nzXXl]="8">
      <app-nomenclador dataEntrante="ModelosBalizas" dataTitle="Modelos Balizas" dataTooltip="modelo"></app-nomenclador>
    </div>
    <!-- <div class="border" nz-col [nzXs]="24" [nzMd]="24" [nzLg]="12" [nzXXl]="8">
      <app-nomenclador dataEntrante="TipoEntidad"></app-nomenclador>
    </div>
    <div class="border" nz-col [nzXs]="24" [nzMd]="24" [nzLg]="12" [nzXXl]="8">
      <app-nomenclador dataEntrante="Rol"></app-nomenclador>
    </div>
    <div class="border" nz-col [nzXs]="24" [nzMd]="24" [nzLg]="12" [nzXXl]="8">
      <app-nomenclador dataEntrante="Tipo-Baliza"></app-nomenclador>
    </div>
    <div class="border" nz-col [nzXs]="24" [nzMd]="24" [nzLg]="12" [nzXXl]="8">
      <app-nomenclador dataEntrante="Tipo-Contrato"></app-nomenclador>
    </div>
    <div class="border" nz-col [nzXs]="24" [nzMd]="24" [nzLg]="12" [nzXXl]="8">
      <app-nomenclador dataEntrante="Tipo-Entidad"></app-nomenclador>
    </div> -->
  </div>
</div>
