<div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" nzJustify="center">
  <div nz-col class="gutter-row">
    <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload" [nzAccept]="supportedFileTypes">
      <button nz-button [disabled]="fileList.length > 0">
        <i nz-icon nzType="upload"></i>Cargar fichero</button>
    </nz-upload>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="onCancel()">Cancelar</button>
    <button nz-button nzType="primary" (click)="onProcessFileDirect()" [nzLoading]="processing"
      [disabled]="fileList.length == 0">Procesar fichero</button>
  </div>
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Informe de errores" [nzContent]="modalContent" (nzOnCancel)="hideModal()"
  [nzFooter]="modalFooter">
  <ng-template #modalContent>
    <div nz-row style="padding-bottom: 25px;">
      <span nz-col nzSpan="12" nz-typography nzType="success">Importaciones Correctas: {{imporacionCorrecta}}</span>
      <span nz-col nzSpan="12" nz-typography nzType="danger">Importaciones Incorrectas: {{imporacionIncorrecta}}</span>
    </div>
    <div *ngFor="let error of errorList; index as i;">
      <span nz-typography><strong>{{i+1}}- {{error.error}}</strong></span> <br>
      <span nz-typography>{{error.mensaje}}</span>
    </div>

  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="hideModal()">Cerrar</button>
  </ng-template>
</nz-modal>
